{% extends "spotify_api_interface/base.html" %}

{% block TITLE %}
    <title>Album Tracks | Spotify Project</title>

    <!-- Datatables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>
{% endblock %}

{% block CONTENT %}
    <div class="container-fluid">
        <div class="row" style="margin-top: 7rem;">
            <div class="col-lg-12">
                <table class="table" id="albumTracksTable">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Track Number</th>
                        <th scope="col">Name</th>
                        <th scope="col">Duration(min)</th>
                        <th scope="col">Preview</th>
                        <th scope="col">Spotify</th>
                        <th scope="col">Explicit</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for track in album_tracks %}
                        <tr>
                            <th scope="row">{{ track.track_number }}</th>
                            <td>{{ track.name }}</td>
                            <td>{{ track.duration }}</td>
                            <td><a href="{{ track.preview_url }}" target="_blank">Listen</a></td>
                            <td><a href="{{ track.spotify_url }}" target="_blank">Open</a></td>
                            <td>{{ track.explicit }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('#albumTracksTable').DataTable();
        });
    </script>
{% endblock %}