{% extends "spotify_api_interface/base.html" %}

{% block TITLE %}
    <title>Home | Artist Albums</title>
{% endblock %}

{% block CONTENT %}
    <div class="container">
        <div class="row">
            {% for album in album_data %}
                <div class="col-lg-3 mt-5">
                    <div class="card border shadow">
                        <img src="{{ album.image }}" alt="album cover" class="card-img-top">
                        <div class="card-body">
                            <ul class="list-group text-center">
                                <li class="list-group-item"><b>{{ album.name }}</b></li>
                                <li class="list-group-item">{{ album.release_date }}</li>
                                <li class="list-group-item"><a href="{% url 'view-album-tracks' 'album.album_id' %}">View {{ album.total_tracks }} Tracks</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}